<h1>{{ title }}</h1>

<div>
  {{ selectedImageSlide.title }}
  <img class="background-img" [src]="selectedImageSlide.url" [alt]="selectedImageSlide.alt" [title]="selectedImageSlide.title">
</div>

<ul>
  <li>- {{ nbClassicsRooms }} salles clasiques</li>
  <li>- {{ nbVirtualRooms }} salles de réalité virtuelle,</li>
  <li>- Soit {{ nbClassicsRooms + nbVirtualRooms }} salles</li>
  <li>- Soit {{ (nbClassicsRooms + nbVirtualRooms) * 60 }} minutes de recherche</li>
  <li>{{ lastLi() }}</li>
  <li>De {{ ageMin }} à {{ ageMax }} ans</li>
</ul>

<button type="button" [hidden]="isDisabled" (click)="seeMore()">Voir plus</button>

<h2>Réservation</h2>
<div>
  Votre nom <input type="text">
</div>
<div>
  Nombre de personnes :
  <button (click)="substractPerson()">-</button>
  {{ nbPersons }}
  <button (click)="addPerson()">+</button>
</div>
<div>
  Code réduction : <input type="text" #reductionInput (keyup)="checkReduction(reductionInput.value)">
</div>
<div>
  Prix total : {{ totalPrice }} €
</div>
<div>
  Prix par personne : {{ priceByPerson }} €
</div>
<div>
  <button>Réserver</button>
</div>
