<!-- <a routerLink="/home">Page d'accueil</a>
<br>
<a routerLink="/roong generate component pages/error404ms">Les salles</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" (click)="isCollapsed = true">Escape</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show' : !isCollapsed}" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/rooms" routerLinkActive="active" (click)="isCollapsed = true">Les salles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contact" routerLinkActive="active" (click)="isCollapsed = true">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
