<div class="container">
  <h1>Les salles</h1>

  <p>
    Difficulté min : 
    
    <!-- Les deux lignes du dessous sont équiventes -->
    <!-- <app-choice-nb [nb]="difficultyMin" [max]="difficultyMax" (nbChange)="difficultyMin = $event"></app-choice-nb> -->
    <app-choice-nb [(nb)]="difficultyMin" [max]="difficultyMax"></app-choice-nb>
  </p>

  <div class="row">

    <ng-container *ngFor="let room of rooms">
      <div class="col-xs-12 col-md-6 mb-3" *ngIf="room.difficulty >= difficultyMin">
      
        <app-card [room]="room"></app-card>
        
      </div>
    </ng-container>
    
  </div>

  <h2>Liste</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms; let idx = index;">
        <th scope="row">{{ idx + 1 }}</th>
        <td>{{ room.title }}</td>
        <td>{{ room.difficulty }}</td>
      </tr>
    </tbody>
  </table>

</div>

<!-- text-success -> en vert
text-warning -> en orange
text-danger -> rouge -->
