<div class="container">
  <h1>Les salles</h1>


  <div class="row">
    <div class="col-xs-12 col-md-6">
      
      <div class="card">
        <img [src]="room.imageUrl" class="card-img-top" [alt]="room.imageAlt">
        <div class="card-body">
    
          <div class="players-container">
            <div>De {{ room.nbMin }} à {{ room.nbMax }}</div>
            <div>joueurs</div>
          </div>
    
          <div class="card-title">{{ room.title }}</div>
          <div class="card-subtitle">Difficulté : {{ room.difficulty }}</div>
          <button class="btn btn-primary" (click)="toggle()">Voir / Cacher la description</button>
          <p class="card-text" *ngIf="showDescription">
            {{ room.description }}
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      
    </div>
    
  </div>

</div>
