<div class="container">
  <h1>Les salles</h1>


  <div class="row">
    <div class="col-xs-12 col-md-6 mb-3" *ngFor="let room of rooms">
      
      <div class="card" [ngClass]="{'virtual' : room.isVirtual}">
        <img [src]="room.imageUrl" class="card-img-top" [alt]="room.imageAlt">
        <div class="card-body">
    
          <div class="players-container">
            <div *ngIf="room.nbMin !== room.nbMax">De {{ room.nbMin }} à {{ room.nbMax }}</div>
            <div *ngIf="room.nbMin === room.nbMax">Pour {{ room.nbMin }}</div>
            <div>joueurs</div>
          </div>
    
          <div class="card-title">{{ room.title }}</div>
          <div class="card-subtitle"
            [ngClass]="{'text-success' : room.difficulty === 1, 'text-warning' : room.difficulty === 2, 'text-danger' : room.difficulty === 3}">
            Difficulté : {{ room.difficulty }}
          </div>
          <p>
            Horaires : 
            <span *ngFor="let time of room.times; let l = last;">
              {{ time }}<span *ngIf="!l">, </span><span *ngIf="l">.</span> 
            </span>
          </p>
          <button class="btn btn-primary" (click)="toggle()" *ngIf="room.description">
            <span *ngIf="showDescription">Cacher la description</span>
            <span *ngIf="!showDescription">Afficher la description</span>
          </button>
          <p class="card-text" *ngIf="showDescription">
            {{ room.description }}
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      
    </div>
    
  </div>

  <h2>Liste</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms; let idx = index;">
        <th scope="row">{{ idx }}</th>
        <td>{{ room.title }}</td>
        <td>{{ room.difficulty }}</td>
      </tr>
    </tbody>
  </table>

</div>

<!-- text-success -> en vert
text-warning -> en orange
text-danger -> rouge -->
